body{
    background-color: slategray;
    background-image: url(./assets/touch1.png);
    background-position-x: center ;
    background-position:center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 2500px;
    
}
a{
    padding: 20px;
    font-size: 30px;
    float: inline-end;
}
 section{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 25px;
     padding-bottom: 25px;
     
 }
 .section1{
     background-color: white;
     border: solid;
     border-radius: 10px 10px 10px 10px;
     font-size: 20px;
 }
 .section2{
    background-color: white;
    border: solid;
    border-radius: 10px 10px 10px 10px;
    font-size: 50px;
    float: center;
}
 .navbar-brand{
     
     color: black;
 }
 .imgClass{
     border-radius: 50%;
 }
 .imgClass2{
     border-radius: 50%;
     max-height: 50px;
     max-width: 50px;
 }
 .imgClass3{
     max-width: 1200px;
     max-height: 750px;
 }